<mat-toolbar color="primary" class="shadow ">
    <mat-toolbar-row>
        <span class="titulo">Perfil</span>
    </mat-toolbar-row>
</mat-toolbar>





    
        <div class="row justify-content-center" style="background-color: blue;">
            <div class="col-8 text-center" style="background-color: black;">
                <p>algo</p>
                
                <button mat-button class="btn btn-primary" routerLink="/login">Logout</button>
            </div>

        </div>


    

    <app-nav-bottom></app-nav-bottom>