<mat-toolbar color="primary" class="shadow ">
    <mat-toolbar-row>
        <span class="material-icons" routerLink="/generos">arrow_back</span>
        
        <span class="titulo">Peliculas</span>
        <span class="example-spacer"></span>
        
        <div class="row justify-content-center align-items-center g-2 px-5">
    
            <div class="dropdown" >
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  Opinion
                </button>
              
                <ul class="dropdown-menu" >
                  <li *ngFor="let opinion of opiniones" >
                    <a class="dropdown-item" href="/peliculas/opinion/{{opinion.id}}">{{opinion.nombre}}</a>
                </li>
                </ul>
           
              </div>
        
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>




<div class="card" *ngFor="let pelicula of peliculas" >
    <div class="card-body">
        <div class="row">
            <div class="col-4 align-self-center">
                <img src={{pelicula.poster}} class="img-fluid  align-items-center">
            </div>
            <div class="col-8">
                <h2 class="card-title primary">{{pelicula.titulo}}</h2>
                <p class="card-text">{{pelicula.sinopsis}}</p>
                <div *ngIf="pelicula.opinion==1"><strong>Opinion: </strong>Excelente</div>
                <div *ngIf="pelicula.opinion==2"><strong>Opinion: </strong>Muy Buena</div>
                <div *ngIf="pelicula.opinion==3"><strong>Opinion: </strong>Buena</div>
                <div *ngIf="pelicula.opinion==4"><strong>Opinion: </strong>Mala</div>
                <div *ngIf="pelicula.opinion==5"><strong>Opinion: </strong>Muy Mala</div>
                <p class="card-text"><strong>Fecha Estreno: </strong>{{pelicula.fechaEstreno}}</p>
                
            </div>
        </div>

      </div>
</div>

<app-nav-bottom></app-nav-bottom>